// ./sass/components/btn.scss

.btn {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;

	border: none;
	background: none;
	cursor: pointer;

	&--pink {
		margin: 5px 25px;
		color: $violet;

		&:hover {
			color: $tomato;
		}

		&:focus {
			outline: 2px solid $blue;
		}
	}

	&--blue {
		margin: 10px 0;
		color: $blue;
		text-transform: uppercase;

		&:hover {
			color: $dark-blue;
		}

		&:focus {
			outline: 2px solid $blue;
		}
	}

	&--orange {
		color: $orange;

		&:hover {
			color: $light-orange;
		}

		&:focus {
			outline: 2px solid $blue;
		}
	}

	&--number {
		width: 76px;
		padding: 10px;
		margin: 10px 24px;

		font-size: 21px;
		color: #fff;

		background-color: #ff4eab;
		border: 1px solid #ff4eab;
		border-radius: 30px;

		&:hover {
			background-color: $light-pink;
			border-color: $light-pink;
		}

		&:focus {
			outline: 2px solid $blue;
		}
	}
}
