// src/assets/sass/components/game-over.scss

.game-over__title {
  margin: 15px 0;
  
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.game-over__banner {
  width: 165px;
  height: 165px;
  margin: 20px auto;

  background: url('../../img/mount.jpg') center no-repeat;
  border: 2px solid $black;
  border-radius: 50%;
}

.game-over__content {
  text-align: center;
}

.game-over__rounds,
.game-over__number {
  margin-bottom: 10px;

  font-size: 17px;
}