// ./sass/components/modal.scss

.overlay {
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .7);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.close {
  display: none;
}

.modal{
  padding: 15px;

  text-align: center;

  background: #fff;
  border-radius: 10px;

  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
}  

.modal-text {
  margin: 10px 0;

  font-size: 15px;
}