// src/assets/sass/components/opponent-guess.scss

.opponent-guess__title {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}

.opponent-guess__number {
  width: 50px;
  margin: 20px auto;
  padding: 5px;

  text-align: center;
  font-size: 26px;
  color: $violet;

  border: 2px solid $violet;
  border-radius: 5px;
}

.opponent-guess__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px;

  font-size: 15px;
  font-weight: 700;
  
  border: 1px solid $gray;
}
