// ./sass/_variables.scss

// fonts
$font: 'Open Sans', sans-serif;

// colors
$black: #000;
$white: #fff;
$gray: #ccc;
$violet: #dc00dc;
$pink: #ff4eab;
$light-pink: #ff75be;
$blue: dodgerblue;
$dark-blue: #0068ce;
$orange: #ff7600;
$light-orange: #f9b072;
$tomato: tomato;