// ./sass/style.scss

@import './variables';
@import './components/app';
@import './components/sub-header';
@import './components/header';
@import './components/select-number';
@import './components/start-game';
@import './components/modal';
@import './components/opponent-guess';
@import './components/game-over';
@import './components/error';
@import './components/not-found';
@import './components/auth';

body {
	font-family: $font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
